img{
    border-radius: 100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
table{
    background-color: #F2EBE9;
    border-collapse:collapse;
    width:60%;
    margin-left:auto;
    margin-right:auto;
}
h3{
    color:#7C3E66;
}
strong{
    color:#243A73;
}
.header{
    background-color: #4B5D67;

}
td{
    padding:15px;

}
h1{
    color: #F2EBE9;
}
.vl{
    border-right: 3px solid #4B5D67;
    vertical-align:top;
}